:host {
  height: 100vh;
  width: 100vw;
  display: block;
  position: relative;
}
.logo-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-box {
  background-color: rgba(0,0,0,.7);
  border: 2px solid rgba(255,255,255,.3);
}
.cursor-pointer {
  cursor: pointer;
}
.logo {
  position: absolute;
  display: flex;
  align-self: stretch;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: black;
}
.logo-text {
  height: 100%;
}
