<page-standard (clickBack)="clickBack($event)">
  <div *ngIf="member">
    <h2>{{ member.name | uppercase }} Details</h2>
    <button
      mat-button
      (click)="goBack()">
      go back
    </button>
    <button
      mat-button
      (click)="goBack()">
      Add Downline
    </button>
  </div>

  <mat-tab-group style="height: 100%; width: 100%; display: flex;">
    <mat-tab>
      <ng-template mat-tab-label>Data Member</ng-template>
      <div style="height: 200px; width: 200px;">
        <!-- <qrcode *ngIf="memberId" [qrdata]="memberId" [size]="200" [level]="'H'" [usesvg]="false" [allowEmptyString]="allowEmptyString"></qrcode> -->
      </div>
      <ngx-qrcode  [qrc-element-type]="'svg'" [qrc-width]="50"></ngx-qrcode>
      <ngx-barcode [bc-value]="memberId" [bc-display-value]="true"></ngx-barcode>
      <button mat-raised-button>Salin Ke Clip</button>
      <button mat-raised-button (click)="ck()">cetak kartu</button>
      <!-- <form>
        <mat-form-field>
          <input
            [(ngModel)]="member.name"
            matInput
            placeholder="Name"
            name="member.name">
        </mat-form-field>
      </form> -->
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Data Downline</ng-template>
      [Data Downline]
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>History Level</ng-template>
      [History Level]
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>Tree</ng-template>
    </mat-tab>
  </mat-tab-group>
</page-standard>


<!-- <ngx-barcode [bc-value]="element['id']" [bc-display-value]="true"></ngx-barcode> -->
