<ng-template [ngIf]="mode === 'vertical'">
  <ngx-charts-bar-vertical
  [view]="[250, 250]"
  [animations]="true"
  [scheme]="colorScheme"
  [results]="results"
  [gradient]="false"
  [xAxis]="false"
  [yAxis]="false"
  [legend]="false"
  [showXAxisLabel]="false"
  [showGridLines]="true"
  [showYAxisLabel]="false"
  [roundEdges]="false"
  [showDataLabel]="false"
  [barPadding]="20"
  [showDataLabel]="false"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>
</ng-template>

<ng-template [ngIf]="mode === 'horizontal'">
  <ngx-charts-bar-horizontal
  [view]="[250, 250]"
  [animations]="false"
  [scheme]="colorScheme"
  [results]="results"
  [gradient]="false"
  [xAxis]="false"
  [yAxis]="false"
  [legend]="false"
  [showXAxisLabel]="false"
  [showGridLines]="false"
  [showYAxisLabel]="false"
  [roundEdges]="false"
  [showDataLabel]="false"
  [barPadding]="20"
  (select)="onSelect($event)">
</ngx-charts-bar-horizontal>
</ng-template>