html, body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
body {
  padding: 0;
  margin: 0;
}
app-root {
  padding: 0;
  margin: 0;
}

app-root .placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: black;
}

app-root > .placeholder > svg {
  display: block;
}

.flg .mat-form-field-infix {
  width: 50px;
}

.flg .flag-icon {
  width: 32px;
  height: 16px;
}

.flg .flag-icon:before {
  content: "";
}

.flg .mat-form-field-wrapper {
  padding: 0;
}

.flg .mat-form-field-wrapper,
.flg .mat-form-field-infix {
  padding: 0;
}
.flg .mat-form-field-label-wrapper {

}
.flg .mat-form-field-underline {
  display: none;
}

.flg-panel .mat-option {
  padding: 0;
}

.flg-panel.mat-select-panel {
  border-radius: 0;
}

.flg-panel .flag-icon{
  width: 100%;
  height: 100%;
  display: block;
  line-height: unset;
}

/* [internationalCode] .mat-form-field,
international-code .mat-form-field {
  display: inline-block;
}

[internationalCode] .mat-form-field-infix,
international-code .mat-form-field-infix {
  width: 50px;
}

[internationalCode] .mat-form-field-appearance-legacy .mat-form-field-infix,
international-code .mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0;
}

[internationalCode] .mat-form-field-appearance-legacy .mat-form-field-wrapper,
international-code  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0;
}

[internationalCode] .mat-form-field-label-wrapper,
international-code .mat-form-field-label-wrapper {
  padding: 0;
  top: 0;
}

[internationalCode] .mat-form-field-underline,
international-code .mat-form-field-underline {
  display: none;
}

[internationalCode] .mat-form-field-subscript-wrapper
international-code .mat-form-field-subscript-wrapper {
  display: none;
} */

.psg-psg > .mat-horizontal-content-container {
  // flex: 1;
  flex: 1;
  padding: 0;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 52px !important;
}

.wishes .mat-checkbox .mat-checkbox-ripple {
  width: 28px !important;
  height: 28px !important;
  left: calc(50% - 14px) !important;
  top: calc(50% - 14px) !important;
}

.wishes .mat-checkbox-inner-container {
  width: 12px;
  height: 12px;
}

.wishes .mat-column-select {
  overflow: initial;
}

filter-box .mat-checkbox .mat-checkbox-ripple {
  width: 28px !important;
  height: 28px !important;
  left: calc(50% - 14px) !important;
  top: calc(50% - 14px) !important;
}

filter-box .mat-checkbox-inner-container {
  width: 12px;
  height: 12px;
}

filter-box .mat-checkbox-label {
  font-size: 13px;
  text-transform: capitalize;
}

app-nav .mat-button-wrapper {
  line-height: 32px;
}

page-standard .page-standard_boxbar .mat-button-wrapper  {
  line-height: 24px;
}

page-standard .page-standard_boxbar .mat-button-wrapper mat-icon  {
  vertical-align: baseline;
}

.color-picker {
  border: 0 none !important;
}

.mat-horizontal-stepper-content {
  display: block;
  height: 100%;
  width: 100%;
}

.mat-tab-body-wrapper {
  flex: 1;
}

*::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: orange;
}
::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, .9);
}
/*

  *::-webkit-scrollbar-button { }
  ::-webkit-scrollbar-track-piece { }
  ::-webkit-scrollbar-corner { }
  ::-webkit-resizer { }
  .cdk-overlay-pane.ngx-contextmenu {
    background-color: white;
}
*/
