<div>
  <form style="background-color: transparent" (ngSubmit)="onSubmit()">
    <div [formGroup]="form">
    <mat-form-field style="width: 100%;" appearance="outline">
      <mat-label>Pencarian Anggota</mat-label>
      <input
        formControlName="search"
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        matInput
        maxlength="64"/>
        <button *ngIf="searchText" mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
          <mat-icon>close</mat-icon>
        </button>
        <mat-hint align="start"><strong>Hit Enter</strong> {{ searchText }}</mat-hint>
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button value="2">Nama</mat-radio-button>
      <mat-radio-button value="1">ID Anggota</mat-radio-button>
    </mat-radio-group>

    </div>
  </form>
</div>