:host .mat-icon-button {
  border-radius: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
}

:host .mat-icon-button {
  border-radius: 0;
  width: 32px;
  height: 32px;
  line-height: 32px;
}
:host .active-nav {
  color: red;
}
