<ng-template [ngIf]="mode === 'horizontal'">
  <ngx-charts-bar-horizontal-2d
  [animations]="true"
  [view]="[250, 250]"
  [scheme]="colorScheme"
  [results]="results"
  [gradient]="false"
  [xAxis]="false"
  [yAxis]="false"
  [legend]="false"
  [showXAxisLabel]="false"
  [showGridLines]="false"
  [showYAxisLabel]="false"
  [roundEdges]="false"
  [showDataLabel]="false"
  [barPadding]="15"
  [groupPadding]="30"
  (select)="onSelect($event)">
  </ngx-charts-bar-horizontal-2d>
</ng-template>

<ng-template [ngIf]="mode === 'vertical'">
  <ngx-charts-bar-vertical-2d
  [animations]="true"
  [view]="[350, 350]"
  [scheme]="colorScheme"
  [results]="results"
  [gradient]="false"
  [xAxis]="true"
  [yAxis]="true"
  [legend]="false"
  [showXAxisLabel]="true"
  [showGridLines]="false"
  [showYAxisLabel]="true"
  [roundEdges]="false"
  [showDataLabel]="false"
  [barPadding]="15"
  [groupPadding]="20"
  (select)="onSelect($event)">
  </ngx-charts-bar-vertical-2d>
</ng-template>