<div class="drawer-one">
  <mat-expansion-panel mat-elevation="0">
    <mat-expansion-panel-header>Side Menu</mat-expansion-panel-header>
    <mat-list dense role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel mat-elevation="0">
    <mat-expansion-panel-header>Side Menu</mat-expansion-panel-header>
    <mat-list dense role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel mat-elevation="0">
    <mat-expansion-panel-header>Side Menu</mat-expansion-panel-header>
    <mat-list dense role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel mat-elevation="0">
    <mat-expansion-panel-header>Side Menu</mat-expansion-panel-header>
    <mat-list dense role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel mat-elevation="0">
    <mat-expansion-panel-header>Side Menu</mat-expansion-panel-header>
    <mat-list dense role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
  <mat-expansion-panel mat-elevation="0">
    <mat-expansion-panel-header>Side Menu</mat-expansion-panel-header>
    <mat-list dense role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-expansion-panel>
</div>
