<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="<%= htmlWebpackPlugin.options.basehref %>">
  </head>
  <body>
    <noscript>Please enable JavaScript to run this application.</noscript>
    <app-root>
      <div class="placeholder"><%= htmlWebpackPlugin.options.placeholder %></div>
    </app-root>
  </body>
</html>
