<div class="svg-tree-container">
  <as-split class="main">
    <div as-split-area [size]="splitSizeA">
      <mat-list role="list">
        <mat-list-item
          (click)="ok({a: $event, b: item})"
          style="color: black; outline: none;"
          *ngFor="let item of ldata"
          class="sd"
          [ngClass]="(item.data.id === selectedId ? 'selected' : '')"
          (focus)="ok({a: $event, b: item})"
          tabindex="1">
          <h3 matLine>{{ item.data.name }}</h3>
          <p matLine>ID: {{ item.data.id }} / Level: {{ item.data.lvlName }}</p>
        </mat-list-item>
      </mat-list>
    </div>
    <div as-split-area class="svg-tree" [size]="splitSizeB">
      <div
        #svgSvg
        svg-svg
        (selected)="onSelected($event)"
        (resized)="onResizeSvg($event)"
        [w]="width"
        [h]="height"
        [tree]="ldata"
        [margin]="margin"
        [showId]="showId"
        [showBlocked]="showBlocked"
        [showLevel]="showLevel"
        [showPathToRoot]="showPathToRoot"
        [currentSelection]="selectedId">
      </div>
    </div>
  </as-split>
  <mat-toolbar class="control">
    <button mat-button mat-icon-button (click)="edit1()">
      <mat-icon>looks_one</mat-icon>
    </button>
    <button mat-button mat-icon-button (click)="recalculateLvl()">
      <mat-icon>replay</mat-icon>
    </button>
    <button mat-button mat-icon-button (click)="add()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-button mat-icon-button (click)="showId = !showId">I</button>
    <button mat-button mat-icon-button (click)="showLevel = !showLevel">
      L
    </button>
    <button mat-button mat-icon-button (click)="showBlocked = !showBlocked">
      B
    </button>
    <button mat-button mat-icon-button (click)="showPathToRoot = !showPathToRoot">
      A
    </button>
    <button mat-button mat-icon-button (click)="onDescendants()">
      D
    </button>
    <button mat-button mat-icon-button (click)="save()">
      <mat-icon>save</mat-icon>
    </button>
  </mat-toolbar>
</div>
