<page-standard>
<div class="pos-container">
  <div class="pos-container-padding">
    <div class="pos-container main-column">
      <as-split direction="horizontal">
        <as-split-area style="display: flex; height: 100%; width: 100%; overflow: hidden; flex-direction: row;">
          <div style="flex: 1; display: block; height: 100%; width: 100%; overflow: hidden;">
            <div class="col-1">
              <div class="">
                SEARCH
              </div>
              <div class="pos-item-list" style="overflow: auto;">
                <div style="padding: 10px;">
                  <mat-grid-list class="pos-item-list" cols="3" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let item of todo" [contextMenu]="basicMenu" [contextMenuSubject]="item">
                      <div style="height: 100%; width: 100%; display: block;">
                        <div style="padding: 10px; height: 100%; width: 100%;">
                          <div style="background-color: rgba(255,255,255,.5); height: 100%; width: 100%;">
                            {{item.name}}<br />
                            <div [style.background-color]="item.color" style="height: 10px; width: 10px;"></div>
                          </div>
                        </div>
                      </div>
                    </mat-grid-tile>
                  </mat-grid-list>
                  <!---->
                  <context-menu>
                    <ng-template contextMenuItem (execute)="showMessage('Hi, ' + $event.item.name)">
                      Say hi!
                    </ng-template>
                    <ng-template contextMenuItem divider="true"></ng-template>
                    <ng-template contextMenuItem let-item (execute)="showMessage($event.item.name)">
                      Bye, {{item?.name}}
                    </ng-template>
                    <ng-template contextMenuItem passive="true">
                      Input something: <input type="text">
                    </ng-template>
                  </context-menu>
                  <!---->
                </div>
              </div>
            </div>
          </div><!-- .col-1 -->
        </as-split-area>
        <as-split-area>
          <div class="col-2">
            <div class="wishes">
              <table mat-table [dataSource]="dataSource" multiTemplateDataRows>

                <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay; index as i;">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox *ngIf="column === 'select'; else elseBlock" (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
                    </mat-checkbox>
                    <ng-template #elseBlock>{{ columnsTitle[i] }}</ng-template>
                  </th>
                  <td mat-cell *matCellDef="let element">
                    <mat-checkbox *ngIf="column === 'select'; else elseBlock2" (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(element) : null" [checked]="selection.isSelected(element)">
                    </mat-checkbox>
                    <ng-template #elseBlock2>{{ element[column] }}</ng-template>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                  <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
                    <div [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                      <a>Delete</a>
                    </div>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
                  [class.example-expanded-row]="expandedElement === element" (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

              </table>
            </div><!-- .wishes -->
          </div><!-- .col-2 -->
        </as-split-area>
      </as-split>
    </div>
  </div>
</div>
</page-standard>
